body {
    background-color: #191937;
}

span {
    font-weight: bold;
}

.duration {
    color: #b9e1ff;
}

.subject-container {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    margin-top: -10px;
    font-size: 20px;
}

ul {
    margin: 5px;
    text-align: justify;
    padding-right: 50px;
    margin-left: 50px;
}


.skills div {
    display: flex;
    justify-content: space-around;
}


p {
    margin-left: 30px;
    text-align: justify;
    font-weight: bold;
}

#aboutmeP {
    margin-left: 30px ;
    text-align: justify;
    font-weight: 400;
}

p, h1, h6, li, footer {
    color: #e0e0f1;
}

h1 {
    margin: 10px;
    text-transform: capitalize;
}

h6 {
    margin: 10px;
}

img > {
 margin-left: 20px;
}

.img-prog {
    height: 100px;
    padding: 5px;
}

button {
    margin-right: 20px;
}

.btn {
    color: #e0e0f1; 
    border-radius: 40px;
    background-color: #494ca2;
}

#copy-right{
    color: #e0e0f1; 
}

.nav-item{
    padding-top: 10px;
}