body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #213448;
}

.container {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin-bottom: 100px;
}

.container > * {
    margin: 0;
    background-color: #547792;
    border-radius: 10px;
    padding-bottom: 10px ;
}

span {
    font-weight: bold;
}

.subject-container {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    margin-top: -10px;
    font-size: 20px;
}

ul {
    margin: 5px;
    text-align: justify;
    padding-right: 50px;
    font-size: 16px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ECEFCA;
    background-color: #547792;
    font-size: 2rem;
    border-radius: 100px 5px 100px 6px;
    padding-left: 50px; 
    margin-bottom: 6rem;
    justify-content: space-evenly;
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
    text-transform: capitalize;
}

.circle {
    position: absolute;
    left: 0px;
    top: 9.9px;
    height: 100px;
    width: 100px;
    background-color: #547792;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
}

.skills div {
    display: flex;
    justify-content: space-around;
}


p {
    margin-left: 30px;
    text-align: justify;
    font-weight: bold;
}

div > footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 25, 25);
    min-height: 100px;
    clear: both;
}
.footer {
    position: relative;
}
p, h1, h6, li, footer {
    color: white;
}

h1 {
    margin: 10px;
    text-transform: capitalize;
}

h6 {
    margin: 10px;
}
